<section style="background-image: url(../../../assets/images/food/bg-facts.jpg)">
  <div class="container">
    <!-- Jumbotron Header-->
    <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">For HungryU allows Students and Staff to order their meals via online platform easily and quickly
        from Cafeteria.
      </p>
    </header>
    <!-- Page Features-->
    <div class="row text-center">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../../assets/images/food/our-cheffs1.jpg" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Ann
            </h4>
            <p class="card-text">LAssistant Chef</p>
          </div>
          <div class="card-footer"><a class="btn btn-primary">Find Out More!</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../../assets/images/food/our-cheffs2.jpg" alt="..." />
          <div class="card-body">
            <h4 class="card-title">
              Smith
            </h4>
            <p class="card-text">food Specialist</p>
          </div>
          <div class="card-footer"><a class="btn btn-primary">Find Out More!</a></div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../../../assets/images/food/our-cheffs3.jpg" alt="..." />
          <div class="card-body">
            <h4 class="card-title">Mary
            </h4>
            <p class="card-text">Food Supervisor</p>
          </div>
          <div class="card-footer"><a class="btn btn-primary">Find Out More!</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright © BISTOR 2021</p>
  </div>
</footer>