<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Embark Passion</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a routerLink="/pets" data-toggle="collapse" aria-expanded="false" >Pets</a>
                </li>
                <li class="active">
                    <a routerLink="/adoptions">Adoption Details</a>
                </li>
                <li>
                    <a routerLink="/events" data-toggle="collapse" aria-expanded="false">Events</a>
                </li>
            </ul>
        </nav>

        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <a [routerLink]="['/add-adoptions']"> <span>Add New Adoptions</span> </a>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                        </ul>
                    </div>
                </div>
            </nav>

            <h2>Adoption Details Tab</h2><br>
            <p> </p>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Pet name</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let adopt of adoptions">
                        <td>{{ adopt.id }}</td>
                        <td>{{ adopt.pet_image }}</td>
                        <td>{{ adopt.pet_name }}</td>
                        <td>{{ adopt.owner }}</td>
                        <td>{{ adopt.date }}</td>
                        <!-- <td>
                            <a href="../../assets/images/img/Image 1.jpg"></a>
                        </td> -->
                        <td>
                            <button (click)="DeleteAdoptions(adopt.id)" class="btn"><i
                                    class="fa fa-trash"></i></button>&nbsp;&nbsp;
                            <button (click)="UpdateTodoAdoptions(adopt.id)" class="btnUpdate"><i
                                    class="fa fa-edit"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="line"></div>

            <section class="h-100 bg-dark">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col">
                            <div class="card card-registration my-4">
                                <div class="row g-0">
                                    <div class="col-xl-6">

                                        <div class="card-body p-md-5 text-black">
                                            <form [formGroup]="adoptionForm" class="register-form" id="register-form">
                                                <h3 class="mb-5 text-uppercase">Pet registration form</h3>
                                                <div class="col">
                                                    <div class="form-outline">
                                                        <input type="text" id="form3Example1" class="form-control" required formControlName="id" disabled />
                                                        <label class="form-label" for="form3Example1">Id</label>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="form-outline">
                                                        <input type="text" id="form3Example1" class="form-control" required formControlName="pet_name" />
                                                        <label class="form-label" for="form3Example1">Pet Name</label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-outline">
                                                        <input type="text" id="form3Example1" class="form-control" required formControlName="pet_image" />
                                                        <label class="form-label" for="form3Example1">Pet Image</label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-outline">
                                                        <input type="text" id="form3Example2" class="form-control" required formControlName="owner" />
                                                        <label class="form-label" for="form3Example2">Owner</label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-outline">
                                                        <input type="date" id="form3Example3" class="form-control" required formControlName="date" />
                                                        <label class="form-label" for="form3Example3">Date</label>
                                                    </div>
                                                </div>
                                                <div class="form-submit">
                                                    <button style="text-align: left;" type="submit" class="btn btn-outline-warning" id="submit" (click)="onSubmitUpdate()">Update
                                                        Adoption</button>
                                                </div>
                                            </form>
                                        </div>

                                        <br><br>

                                        <br>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>